#login-top {
  font-family: "logoFont";
  font-size: larger;
}

#signUp-top {
  font-family: "logoFont";
  font-size: larger;
}

#updateUser-top {
  font-family: "logoFont";
  font-size: 45px;
  margin-bottom: 20px;
}
